.container {
  width: min(100%, 350px);
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    width: 40%;
    grid-area: 1/1;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
  }
}

.arrow {
  grid-area: 1/1;
  background-color: hsl(calc(60deg * var(--i)) 30% 60%);
  height: 54%;
  aspect-ratio: 1;
  --m: 4px;
  --sin30: sin(30deg);
  --tan30-half: 50% * tan(30deg);
  --d: (1 - 2 * cos(30deg)) / var(--sin30);
  clip-path: polygon(0 0, calc(100% - var(--tan30-half)) 0, 100% 50%, calc(100% - var(--tan30-half)) 100%, 0 100%, calc(var(--tan30-half)) 50%);
  transform: rotate(calc(60deg * var(--i))) translate(calc(50% * cos(30deg) + var(--m) * var(--sin30)), calc(25% * (var(--d) - 1) - var(--m)));
}
