* {
  box-sizing: border-box;
}
body {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  place-content: center;
  height: 100vh;
  min-height: 500px;
  padding: 0;
  margin: 0;
}

.loading {
  --bg: rgb(55, 67, 121);
  --d: 1.5s;
  --bw: 2px;
  position: relative;
  rotate: -45deg;
}

.loading-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  aspect-ratio: 1;
  overflow: hidden;
  &.left {
    translate: calc(-100% + var(--bw)) calc(-100% + var(--bw));
  }
  &.right {
    translate: calc(0 - var(--bw)) calc(0 - var(--bw));
  }
  div {
    position: absolute;
    inset: 0;
    rotate: calc(var(--i) * 90deg);
    transform: translateX(-100%);
    border-image: linear-gradient(90deg, transparent, var(--bg)) 1;
    border-top: 2px solid var(--bg);
    animation-name: loading-border;
    animation-delay: calc(var(--d) / 8 * var(--t));
    animation-duration: var(--d);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes loading-border {
  0% {
    transform: translateX(-100%);
  }
  25%,
  100% {
    transform: translateX(100%);
  }
}
