.loading {
  --duration: 0.8s;
  --bg: white;
  --w: 10px;
  --h: calc(var(--w) * 10);
  display: flex;
  align-items: center;
  gap: var(--w);
  div {
    background-color: var(--bg);
    width: var(--w);
    height: var(--h);
    border-radius: var(--w);
    animation-name: loading;
    animation-duration: var(--duration);
    animation-delay: calc(var(--duration) * var(--i) * 0.1);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes loading {
  0%,
  100% {
    height: var(--h);
  }
  50% {
    height: 0px;
  }
}
