body {
  min-height: 400px;
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

.square {
  --l: 150px;
  --p: calc(var(--l) / 6);
  --bd-width: 10px;
  --deg: 20deg;
  --l-top: calc(var(--l) / 2 / cos(var(--deg)));
  width: var(--l);
  height: var(--l);
  position: relative;
  border: var(--bd-width) solid #000;
  border-top: none;
  box-shadow: inset var(--p) 0 0 white, inset 0 var(--p) 0 white, inset calc(var(--p) * -1) 0 0 white, inset 0 calc(var(--p) * -1) 0 white, inset var(--l) 0 0 #ff0000;
}

.arrow::before,
.arrow::after {
  position: absolute;
  content: "";
  width: var(--l-top);
  height: var(--bd-width);
  background: #000;
  top: 0;
}

.arrow::before {
  left: calc(var(--bd-width) * -1);
  transform: rotate(calc(var(--deg) * -1));
  transform-origin: 0 0;
}

.arrow::after {
  right: calc(var(--bd-width) * -1);
  transform: rotate(var(--deg));
  transform-origin: 100% 0;
}
