body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

@import "./frame1/css-btn-arrow.scss";
@import "./frame2/btn1.scss";
@import "./frame3/btn2.scss";
@import "./frame4/growing-arrow.scss";
@import "./frame5/hide-siblings.scss";
