body {
  --bg: #213547;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg);
}

.gradient-bolrder-1,
.gradient-bolrder-2 {
  position: relative;
  width: 80px;
  aspect-ratio: 1;
  margin: 20px auto;
  overflow: hidden;
  span {
    position: absolute;
    inset: 0;
    rotate: calc(var(--i) * 90deg);
    border-image: linear-gradient(90deg, var(--bg), white) 1;
    border-top: 4px solid var(--bg);
    transform: translateX(-100%);
    animation-duration: var(--duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
.gradient-bolrder-1 {
  span {
    --duration: 4s;
    animation-name: gradient-bolrder-1;
    animation-delay: calc(var(--duration) / 4 * var(--i));
  }
}
.gradient-bolrder-2 {
  span {
    --duration: 2s;
    animation-name: gradient-bolrder-2;
    animation-delay: calc(var(--duration) / 2 * var(--i));
  }
}
@keyframes gradient-bolrder-1 {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes gradient-bolrder-2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
