body {
  padding-top: 50px;
  padding-bottom: 50px;
  &:has(.loading2-1, .loading2-2) {
    display: flex;
    justify-content: space-around;
  }
  &:has(.loading3) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #213547;
    height: 100vh;
    min-height: 500px;
    padding: 0;
    margin: 0;
  }
}

@import "./frame1/loadingAnimation1.scss";
@import "./frame2/loadingAnimation2.scss";
@import "./frame3/loadingAnimation3.scss";
