server
└─plugin
  └─插件名稱 [以上為嚴格遵循的目錄結構]
    ├─api  [對外暴露的路由接收方法文件夾(可選--由插件功能決定)]
    ├─config  [配置文件属性文件夾(可選--由插件功能決定)]
    ├─global  [全局属性文件夾(可選--由插件功能決定)]
    ├─model  [數據模型文件夾(可選--由插件功能決定)]
    │  └─response  [入参模型文件夾(可選--由插件功能決定)]
    ├─router  [路由文件夾(可選--由插件功能決定)]
    ├─service  [具體交互方法文件夾(可選--由插件功能決定)]
    ├─utils  [工具文件夾(可選--由插件功能決定)]
    └─其他  [可自由調整]