插件名稱
  └─web
    └─plugin
      └─插件名稱[以上為嚴格遵循的目錄結構]
        ├─api [與後端交互文件夾(可選--由插件功能決定)]
        ├─view  [頁面文件夾(可選--由插件功能決定)]
        ├─components  [拆分的组件文件夾(可選--由插件功能決定)]
        ├─utils  [js工具文件夾(可選--由插件功能決定)]
        └─其他  [可自由調整]