.image-normal {
  width: min(100%, 600px);
}
.img-block {
  cursor: zoom-in;
  img {
    z-index: calc(index($z-index, content));
    transform-origin: 0 0;
    transition: transform var(--time);
    transition-timing-function: ease-in-out;
  }
  &.active {
    cursor: zoom-out;
    img {
      object-fit: contain;
      z-index: calc(index($z-index, model) + 1);
    }
    & ~ .modal-bg {
      cursor: zoom-out;
    }
  }
}
:where(img, svg).img-invert,
.img-block.img-invert :where(img, svg) {
  filter: invert(var(--invert));
}
