.modal-bg,
.img-galary {
  --img-galary-height: 0px;
  position: fixed;
  z-index: index($z-index, model);
  left: 0;
  width: 100vw;
  background: var(--white-600);
}
.modal-bg {
  top: 0;
  height: calc(100dvh - var(--img-galary-height));
}
.img-galary {
  top: calc(100dvh - var(--img-galary-height));
  height: var(--img-galary-height);
}
