.search-bar {
  top: calc(var(--nav-h) * 2);
  left: 50%;
  transform: translateX(-50%);
  z-index: calc(index($z-index, model) + 1);
  input {
    outline: 0;
  }
}
.search-results {
  max-height: calc(100vh - var(--nav-h) * 6);
}
