body {
  display: grid;
  place-content: center;
}

.round {
  --start: -90deg;
  --base: 180deg / 5;
  --w: 300px;
  --m: 8deg;
  --bw: 10px;
  grid-area: 1/1;
  position: relative;
  width: var(--w);
  aspect-ratio: 1;
  rotate: var(--start);
  &,
  span {
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
  }
  &::after {
    inset: var(--bw);
    background-color: white;
  }
  span {
    --end: calc(var(--base) - var(--m));
    position: absolute;
    inset: 0;
    background-image: conic-gradient(var(--clr) 0deg, var(--clr) var(--end), transparent var(--end), transparent 360deg);
    rotate: calc(var(--base) * var(--i) + var(--m) / 2);
    &::before,
    &::after {
      --r: calc(var(--w) - var(--bw)) / 2;
      --d: var(--start) + var(--end);
      inset: calc(var(--r));
      background-color: var(--clr);
      translate: var(--x) var(--y);
    }
    &::before {
      --x: calc(var(--r) * cos(var(--start)));
      --y: calc(var(--r) * sin(var(--start)));
    }
    &::after {
      --x: calc(var(--r) * cos(var(--d)));
      --y: calc(var(--r) * sin(var(--d)));
    }
  }
  &,
  &::after,
  span,
  span::before,
  span::after {
    border-radius: 50%;
  }
}
