.graph-container {
  padding-bottom: 15px;
  overflow-x: auto;
}
.graph {
  position: relative;
  min-width: 400px;
}
body {
  color: white;
}
text {
  fill: white;
}

input {
  vertical-align: middle;
}
