body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.full-page {
  --time: 0.4s;
  --bg: rgb(55, 67, 121);
  cursor: pointer;
  position: relative;
  padding-inline: 5px 10px;
  text-decoration: none;
  width: max-content;
  transition: opacity var(--time);
  &::before,
  &::after {
    content: "";
    background-color: var(--bg);
    position: absolute;
    transition: width calc(var(--time) / 2);
    height: 1px;
    bottom: 0;
    width: 0;
  }
  &::before {
    left: 0;
    transition-delay: calc(var(--time) / 2);
  }
  &::after {
    right: 0;
    transform-origin: right bottom;
    transform: rotate(45deg);
    transition-delay: 0s;
  }
  &:hover {
    &::before {
      width: 100%;
      transition-delay: 0s;
    }
    &::after {
      width: 10px;
      transition-delay: calc(var(--time) / 2);
    }
  }
}
