@import "./variables.scss";
@import "./frame/_main.scss";
@import "./reboot.scss";
@import "./header.scss";
@import "./archive.scss";
@import "./elements/modal.scss";
@import "./elements/homePage.scss";
@import "./elements/postPage.scss";
@import "./elements/codeChunk.scss";
@import "./elements/image.scss";
@import "./elements/calculator.scss";
@import "./elements/tuneList.scss";
@import "./elements/shape.scss";
@import "./elements/loading.scss";

#header {
  z-index: index($z-index, navbar);
}
#main-content {
  padding-top: var(--nav-h) !important;
  transition: translate var(--time);
  min-height: 100dvh;
}
#root {
  &:has(#header > #sidebar.active) {
    :target {
      scroll-margin-left: calc(var(--sidebar-w) + var(--unit-3)); // --unit-3 = #main-content padding-left
    }
    #main-content {
      translate: var(--sidebar-w) 0;
    }
  }
}
