$theme-decoration-colors: (
  light: (
    link: rgb(55, 67, 121),
    link-visited: rgb(55, 67, 121),
  ),
  dark: (
    link: rgb(130, 183, 226),
    link-visited: rgb(130, 183, 226),
  ),
);
$theme-colors: (
  light: (
    "white": rgb(255, 255, 255),
    "gray": rgb(204, 204, 204),
    "black": rgb(0, 0, 0),
    primary: rgb(55, 67, 121),
    secondary: rgb(148, 0, 0),
    main-bg: rgb(255, 255, 255),
    main-shadow: rgb(0, 0, 0),
    main-text: rgb(0, 0, 0),
    code-bg: rgb(39, 40, 34),
    code-text: rgb(255, 255, 255),
    warn: rgb(255, 0, 0),
    success: rgb(0, 128, 0),
  ),
  dark: (
    "white": rgb(27, 27, 29),
    "gray": rgb(204, 204, 204),
    "black": rgb(255, 255, 255),
    primary: rgb(99, 157, 204),
    secondary: rgb(211, 59, 59),
    main-bg: rgb(36, 37, 38),
    main-shadow: rgb(0, 0, 0),
    main-text: rgb(255, 255, 255),
    code-bg: rgb(58, 59, 53),
    code-text: rgb(255, 255, 255),
    warn: rgb(255, 0, 0),
    success: rgb(0, 128, 0),
  ),
);
$theme-colors-rgb: (
  light: (
    "white": 255 255 255,
    "gray": 204 204 204,
    "black": 0 0 0,
    primary: 55 67 121,
    secondary: 148 0 0,
  ),
  dark: (
    "white": 0 0 0,
    "gray": 204 204 204,
    "black": 255 255 255,
    primary: 99 157 204,
    secondary: 211 59 59,
  ),
);
$theme-invert: (
  light: 0,
  dark: 1,
);
$z-index: (content, sidebar, navbar, model);
